.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
}

.message {
    margin: 1em;
    padding: .3em;
    background-color: #dbedf7;
    border: 1px solid #6077af;
    border-radius: 5px;
}

.error {
    composes: message;
    background-color: #fddede;
    border-color: #bb5d5e;
}

.loginButton {
    width: 100%;
    margin-top: 1em;
    border: none;
    background-color: #34a734;
    padding: 1em;
    color: #fff;
    font-size: 1em;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

.loginButton:hover {
    background-color: #7ed67d;

}

.facebook {
    composes: loginButton;
    background-color: #3b5998;
}

.facebook:hover {
    background-color: #7991c1;
}

.google {
    composes: loginButton;
}