.table {
    border-collapse: collapse;
    font-weight: 400;
}

.table td, .table th {
    border-bottom: 1px solid #E8E8E8;
    padding: .3em;
    vertical-align: middle;
}

.rowContainer:last-of-type td {
    border: none;
}

.row {
    transition: .2s;
    color: #aaaaaa;
}

.row[data-completed="true"] {
    color: #000;
}

.row:hover {
    background-color: #E8E8E8;
}