.name {
    margin-left: .5em;
}

.adminActions,
.details {
    border: 1px solid #95989A;
    border-radius: 5px;
    padding: .5em;
    margin-bottom: .5em;
}

.action {
    display: block;
    font-size: 1.25em;
    margin: 1em 0 1em;
}

.deleteButton {
    width: 100%;
    font-size: 1.25em;
    font-weight: 300;
    padding: .5em;
    border-radius: 5px;
    border: 1px solid #d00;
    color: #d00;
    background-color: #fff;
}

.deleteButton:hover {
    background-color: #d00;
    color: #fff;
}

.deleteButton:active {
    background-color: #a00;
    border-color: #a00;
}

.detailsList dt {
    font-weight: 600;
    margin-bottom: .1em;
}

.detailsList dd {
    margin: 0 0 1em;
}

.email,
.phonenumber {
    font-size: 1.25em;
}

.otherProperties {
    padding: 0;
    margin: 0;
    list-style: none;
}

.otherProperties li {
    display: inline-block;
    background-color: #E8E8E8;
    padding: .3em .3em .5em;
    margin: .15em .3em .15em 0;
    border-radius: 5px;
}

.otherProperties li:last-of-type {
    margin-right: 0;
}