.pill {
    display: inline-block;
    background-color: #E8E8E8;
    color: #fff;
    padding: .2em .3em .3em;
    border-radius: 5px;
    margin: .15em .3em .15em 0;
}

.pill:last-of-type {
    margin-right: 0;
}