.pill {
    display: inline-block;
    background-color: #E8E8E8;
    color: #fff;
    padding: .2em .3em;
    border-radius: 5px;
    margin-right: .3em;
}

.pill:last-of-type {
    margin-right: 0;
}